h1 {
    color: gray;
    font-size: 50px;
    margin: 0;
  }
  
  body {
    height: 100vh;
  }
  
  /* START BELOW THIS LINE */

  @media ( max-width: 800px) {
    body{
        background-color:navy
    }
  }
  @media (max-width:600px) {
    body{
        background-color: orange ;
    }
  }
  @media (min-width:600px) and (max-height:400px) {
    #one{
        border: 10px dashed grey;
    }
    #three{
        border:10px dotted grey;
    }
  }
  @media (min-width: 900px) or (min-height: 500px ){
    #two{
        border-top: 10px solid grey;
    }
  }
  @media (orientation: landscape ) {
    body{
        display:flex;
    }
  }
  @media (orientation: portrait) {
    body{
        display:grid;
        justify-content: center;
        align-items: center;
    }
  }